@use "../helpers/" as *;

.actions {
  display: flex;
  align-items: center;
  column-gap: rem(31);

  &-link {
    color: var(--color-accent-base);

    &--button {
      position: relative;
      padding: rem(6) rem(20);
      color: var(--color-light);
      background-color: var(--color-accent-base);

      &::before {
        position: absolute;
        content: "";
        height: rem(1);
        bottom: rem(6);
        width: calc(100% - rem(40));
        transition: background-color var(--transition-duration) linear;
      }

      @include hover {
        color: var(--color-light);
        &::before {
          background-color: var(--color-light);
        }
      }
    }
  }
}
