@use "../helpers/" as *;

.actions {
  display: flex;
  align-items: center;

  &-link {
    color: var(--color-accent-base);
    border: rem(1) solid transparent;

    @include hover {
      border-color: var(--color-accent-base);
    }

    &--button {
      position: relative;
      padding: rem(6) rem(20);
      color: var(--color-light);
      background-color: var(--color-accent-base);
      border: rem(1) solid transparent;

      @include hover {
        background-color: transparent;
        border: rem(1) solid var(--color-accent-base);
      }

      &-lg {
        padding-block: rem(8);
        padding-inline: rem(32);
      }

      &-white {
        color: var(--color-accent-base);
        background-color: var(--color-light);

        @include hover {
          color: var(--color-light);
          background-color: var(--color-accent-base);
          border: rem(1) solid var(--color-light);
        }
      }
    }

    &--arrow {
      display: flex;
      align-items: center;
      column-gap: rem(5);
    }
  }
}
