@use "../helpers/" as *;

.details {
  padding-block: rem(80);
  background-color: var(--color-bg-light-gray);

  &__body {
    &-inner {
      display: grid;
      row-gap: rem(61);
    }

    &-title {
      max-width: rem(650);
      font-size: rem(42);

      &--sm {
        font-size: rem(39);
      }
    }

    &-info {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr auto;
      column-gap: rem(140);
    }
  }

  &-accordion {
    &__list {
      display: grid;
      row-gap: rem(1);
      max-width: rem(450);
    }

    &__item {
      padding-block: rem(17);
      padding-left: rem(12);
      padding-right: rem(16);
      display: flex;
      align-items: start;
      column-gap: rem(16);
      border-block: var(--border);
    }

    &__body {
      width: 100%;
    }

    &__button {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: none;
      background-color: transparent;
      width: 100%;
      transition: 0.4s;
    }

    &__title {
      font-size: rem(21);
    }

    &__icon {
      transform: rotate(0);
      transition: transform 0.2s ease-out;

      &-active {
        transform: rotate(-90deg);
      }
    }

    &__panel {
      padding-top: rem(0);
      font-size: rem(16);
      max-width: rem(360);
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out, padding-top 0.2s ease-out;

      &-active {
        padding-top: rem(18);
        max-height: rem(100);
      }
    }
  }
}
