@use "../helpers/" as *;

.features {
  padding-block: rem(120);

  &__body {
    &-inner {
      display: grid;
      grid-template-columns: rem(300) 1fr;
      column-gap: rem(98);
    }
  }

  &-cards {
    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: rem(32);
    }
  }
}
